h1{
    font-family: Bahnschrift;
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 27.5px;
    display: grid;
    background-color: #F5EFE9;
    border-bottom: solid 1px grey;
    color:black;
    text-align: center;
    padding: 20px;
    margin:0%;
}

h2{
    font-family: Bahnschrift;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 350;
    letter-spacing: -1px;
    margin-left: 30px;
    margin-top: 40px;
}

body{
    background-color: #F5EFE9;
    font-family: Segoe UI;
}

p{
    margin-left: 30px;
    font-weight: 400;
}

#langue-select {
    margin-top: 30px;
    font-family:Segoe UI;
    font-size:15px;
}

label{
    font-size:18px;
}

.button{
    font-family: Segoe UI;
    font-size:15px;
}

footer{
    border-top: 2px solid rgba(163, 122, 19, 0.749);
    background-color: rgba(214, 211, 199, 0.756);
    text-align: center;
    padding: 5px;
    position: relative;
    font-size: 14px;
    margin-top: 60px;
    font-family: Segoe UI;
}

.phoneme-active {
    background-color: #ffd54f;
    border-radius: 4px;
    padding: 2px 4px;
    font-weight: bold;
}

.phoneme-active {
    background-color: yellow;
    border: 2px solid red;
    border-radius: 4px;
    padding: 2px 4px;
}

#description-phonologique {
    margin: 20px 30px;
    padding: 15px;
    background-color: #fdfaf5;
    border: 1px solid #ccc;
    border-radius: 8px;
    line-height: 1.6;
    white-space: pre-line;
}
