:root {
    --couleur-fond: #F5EFE9;
    --fond-tableaux:#0e0e0ec6;
    --bordures:rgba(225, 225, 225, 0.085);
    --commun: #2ecc71;
    --fr: #3498db;
    --autre: #e67e22;
}

/* ********** STYLE GLOBAL DES TABLEAUX ********** */
   
table {
    font-size: 18px;
    line-height: 1.6;
    margin: 0.5em auto;
    border: 2px solid #bab5b0d0;
    border-collapse: collapse; 
    width: 90%;
    text-align: center;
    background-color: var(--fond-tableaux);
    color:var(--couleur-fond);
}

/* Lignes */
tr {
    font-size: 13px;
}

/* Cellules */
td, th {
    padding: 1px 2px;
    border-top: thin solid var(--bordures);
    border-left: thin solid var(--bordures);
}

td[scope="col"], 
td[scope="row"] {
    border: 1px solid var(--bordures);
}

tr:nth-child(2) td {
    border-top: thin solid var(--bordures);
    border-right: none;
}

/* ********** STYLES SPECIFIQUES ********** */

/* Alignement en bas pour les lignes d'en-tête spécifiques (Modes et Pulmoniques) */
tr:nth-child(1), 
tr:nth-child(3), 
tr:nth-last-child(2) {
    vertical-align: bottom;
}

/* Pour les articulations impossibles dans le tableau des consonnes*/
.impossible {
    background-color: var(--couleur-fond);
}


/* Flexbox englobant le tableau des voyelles, des diphtongues et des tons */
div.voyelle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:30px;
}

.voyelles {
    width: 50%;
    font-size: 25px;
}

.diphtongue {
    width: 8%;
    margin-left: 30px;
}

.ton {
    width:auto;
}

.module,.niveau {
    width:30%;
    margin-left: 30px;
}

/* ********** STYLE DES PHONEMES ********** */
.phoneme-cell {
    display: inline-block;
    position: relative;
    padding: 2px 12px 2px 4px;
    margin: 2px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Arial Unicode MS", sans-serif;
    font-size: 1.1em;
    color: white !important;
    background-color: transparent !important;
}

/* Pastilles de couleur */
.phoneme-cell::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: gray;
}

.present-commun::after {
    background-color: var(--commun) !important;
}

.present-fr::after {
    background-color: var(--fr) !important;
}

.present-autre::after {
    background-color: var(--autre) !important;
}


